.dashboard-container {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px; /* добавьте отступ, чтобы не прилегало к навигационному бару */
  }
  
  .calendar-section {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* отступ между календарем и виджетами */
    margin-bottom: 20px;
  }
  
  .widgets-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .widget {
    padding: 20px;
    background-color: #070606;
    box-shadow: 0 0 10px rgba(113, 221, 160, 0.479);
  }

  .h1 {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px;
  }
  