body {
    font-family: sans-serif;
    background-color: #5fce7b3f;
    font-weight: bold;
  }
  
  .header {
    width: 100%;
    background-color: rgba(67, 184, 85, 0.131); 
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .header .logo {
    margin-right: auto; 
  }

  .header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .header ul li {
    margin: 0 15px;
    position: relative; 
  }
  
  .header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.2s;
    position: relative;
    color: #2e2828;
    background-color: #835cbd72;
  }
  
  .header ul li a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .header ul li a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .header ul li a::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #1ab987;
  }
  
  .header ul li a:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .header ul li a.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .logo img {
    height: 120px; 
    margin-right: 20px;
  }
  